In [1]:
import geopandas as gpd
from shapely.geometry import Point
import os

# Load census tract shapefile
tracts = gpd.read_file('tl_rd22_48_tract')

# Create point object
point = Point( -98.49460900270131, 29.4192557501264)

# Check if point is within a census tract
tract = tracts[tracts.contains(point)]

# Extract data from corresponding row in dataframe
if not tract.empty:
    tract_data = tract.iloc[0]
    print("Point is within census tract:", tract_data['NAME'])
else:
    print("Point is not within any census tract.")

Point is within census tract: 1101

In [2]:
# I input a sample point from google maps
# based on a map of census tract codes. At
# first it said the point was not in a census
# tract, but then I resversed the coordinates
# and it returned the correct tract code.
# NOTE: need to reverse order returned from 
# google maps. May be able to address this output
# at the Places API level.

In [3]:
tract

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
1190,48,029,110100,48029110100,1101,Census Tract 1101,G5020,S,3428908,13720,+29.4261655,-098.4905264,"POLYGON ((-98.50167 29.42272, -98.50164 29.423..."

In [4]:
tracts.head().T

,0,1,2,3,4
STATEFP,48,48,48,48,48
COUNTYFP,189,219,219,219,219
TRACTCE,950200,950400,950300,950100,950600
GEOID,48189950200,48219950400,48219950300,48219950100,48219950600
NAME,9502,9504,9503,9501,9506
NAMELSAD,Census Tract 9502,Census Tract 9504,Census Tract 9503,Census Tract 9501,Census Tract 9506
MTFCC,G5020,G5020,G5020,G5020,G5020
FUNCSTAT,S,S,S,S,S
ALAND,6306913,12691656,12186639,214157569,358638163
AWATER,0,5302,0,0,0
INTPTLAT,+34.2117433,+33.5889072,+33.5869355,+33.7715552,+33.4659916
INTPTLON,-101.7172438,-102.3953070,-102.3416971,-102.1822653,-102.1861385
geometry,"POLYGON ((-101.735535 34.210512, -101.735528 3...","POLYGON ((-102.416159 33.569944, -102.416159 3...","POLYGON ((-102.367625 33.583984, -102.367625 3...","POLYGON ((-102.281924 33.724103, -102.281902 3...","POLYGON ((-102.318263 33.41007, -102.315977 33..."

In [5]:
tracts.columns

Index(['STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID', 'NAME', 'NAMELSAD', 'MTFCC',
       'FUNCSTAT', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON', 'geometry'],
      dtype='object')

In [6]:
tracts.head().T

,0,1,2,3,4
STATEFP,48,48,48,48,48
COUNTYFP,189,219,219,219,219
TRACTCE,950200,950400,950300,950100,950600
GEOID,48189950200,48219950400,48219950300,48219950100,48219950600
NAME,9502,9504,9503,9501,9506
NAMELSAD,Census Tract 9502,Census Tract 9504,Census Tract 9503,Census Tract 9501,Census Tract 9506
MTFCC,G5020,G5020,G5020,G5020,G5020
FUNCSTAT,S,S,S,S,S
ALAND,6306913,12691656,12186639,214157569,358638163
AWATER,0,5302,0,0,0
INTPTLAT,+34.2117433,+33.5889072,+33.5869355,+33.7715552,+33.4659916
INTPTLON,-101.7172438,-102.3953070,-102.3416971,-102.1822653,-102.1861385
geometry,"POLYGON ((-101.735535 34.210512, -101.735528 3...","POLYGON ((-102.416159 33.569944, -102.416159 3...","POLYGON ((-102.367625 33.583984, -102.367625 3...","POLYGON ((-102.281924 33.724103, -102.281902 3...","POLYGON ((-102.318263 33.41007, -102.315977 33..."

In [7]:
tracts.NAME.dtype

dtype('O')

In [8]:
tracts.shape

(6896, 13)

In [9]:
# to filter tracts from all of Texas to Bexar
# County use COUNTYFP == '029'
tracts = tracts[(tracts.COUNTYFP == '029')]
tracts.shape

(375, 13)

In [10]:
#Let's open a census table for tracts in Bexar County
# and see what it looks like:
import numpy as np
import pandas as pd

s0101 = pd.read_csv('sex_and_age.csv')
s0101

,GEO_ID,NAME,S0101_C01_001E,S0101_C01_001M,S0101_C01_001MA,S0101_C01_001EA,S0101_C01_002E,S0101_C01_002EA,S0101_C01_002M,S0101_C01_002MA,...,S0101_C06_036MA,S0101_C06_037E,S0101_C06_037EA,S0101_C06_037M,S0101_C06_037MA,S0101_C06_038E,S0101_C06_038EA,S0101_C06_038M,S0101_C06_038MA,Unnamed: 914
0,Geography,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total!!Total population,Annotation of Margin of Error!!Total!!Total po...,Annotation of Estimate!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under ...,Annotation of Estimate!!Total!!Total populatio...,Margin of Error!!Total!!Total population!!AGE!...,Annotation of Margin of Error!!Total!!Total po...,...,Annotation of Margin of Error!!Percent Female!...,Estimate!!Percent Female!!Total population!!PE...,Annotation of Estimate!!Percent Female!!Total ...,Margin of Error!!Percent Female!!Total populat...,Annotation of Margin of Error!!Percent Female!...,Estimate!!Percent Female!!Total population!!PE...,Annotation of Estimate!!Percent Female!!Total ...,Margin of Error!!Percent Female!!Total populat...,Annotation of Margin of Error!!Percent Female!...,NaN
1,0500000US48029,"Bexar County, Texas",1978826,*****,*****,NaN,139109,NaN,67,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,1400000US48029110100,"Census Tract 1101, Bexar County, Texas",3153,504,NaN,NaN,70,NaN,74,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,1400000US48029110300,"Census Tract 1103, Bexar County, Texas",3114,638,NaN,NaN,276,NaN,180,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,1400000US48029110500,"Census Tract 1105, Bexar County, Texas",2430,392,NaN,NaN,540,NaN,207,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,1400000US48029980002,"Census Tract 9800.02, Bexar County, Texas",0,14,NaN,NaN,0,NaN,14,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
373,1400000US48029980003,"Census Tract 9800.03, Bexar County, Texas",1059,286,NaN,NaN,84,NaN,31,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
374,1400000US48029980004,"Census Tract 9800.04, Bexar County, Texas",0,14,NaN,NaN,0,NaN,14,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
375,1400000US48029980005,"Census Tract 9800.05, Bexar County, Texas",0,14,NaN,NaN,0,NaN,14,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
376,1400000US48029980100,"Census Tract 9801, Bexar County, Texas",943,250,NaN,NaN,91,NaN,83,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [11]:
# Ok, there's a lot of messiness here. 
# First, I'll lowercase all column names to make more pythonic
s0101.columns = [col.lower() for col in s0101.columns]
s0101

,geo_id,name,s0101_c01_001e,s0101_c01_001m,s0101_c01_001ma,s0101_c01_001ea,s0101_c01_002e,s0101_c01_002ea,s0101_c01_002m,s0101_c01_002ma,...,s0101_c06_036ma,s0101_c06_037e,s0101_c06_037ea,s0101_c06_037m,s0101_c06_037ma,s0101_c06_038e,s0101_c06_038ea,s0101_c06_038m,s0101_c06_038ma,unnamed: 914
0,Geography,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total!!Total population,Annotation of Margin of Error!!Total!!Total po...,Annotation of Estimate!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under ...,Annotation of Estimate!!Total!!Total populatio...,Margin of Error!!Total!!Total population!!AGE!...,Annotation of Margin of Error!!Total!!Total po...,...,Annotation of Margin of Error!!Percent Female!...,Estimate!!Percent Female!!Total population!!PE...,Annotation of Estimate!!Percent Female!!Total ...,Margin of Error!!Percent Female!!Total populat...,Annotation of Margin of Error!!Percent Female!...,Estimate!!Percent Female!!Total population!!PE...,Annotation of Estimate!!Percent Female!!Total ...,Margin of Error!!Percent Female!!Total populat...,Annotation of Margin of Error!!Percent Female!...,NaN
1,0500000US48029,"Bexar County, Texas",1978826,*****,*****,NaN,139109,NaN,67,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,1400000US48029110100,"Census Tract 1101, Bexar County, Texas",3153,504,NaN,NaN,70,NaN,74,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,1400000US48029110300,"Census Tract 1103, Bexar County, Texas",3114,638,NaN,NaN,276,NaN,180,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,1400000US48029110500,"Census Tract 1105, Bexar County, Texas",2430,392,NaN,NaN,540,NaN,207,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,1400000US48029980002,"Census Tract 9800.02, Bexar County, Texas",0,14,NaN,NaN,0,NaN,14,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
373,1400000US48029980003,"Census Tract 9800.03, Bexar County, Texas",1059,286,NaN,NaN,84,NaN,31,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
374,1400000US48029980004,"Census Tract 9800.04, Bexar County, Texas",0,14,NaN,NaN,0,NaN,14,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
375,1400000US48029980005,"Census Tract 9800.05, Bexar County, Texas",0,14,NaN,NaN,0,NaN,14,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
376,1400000US48029980100,"Census Tract 9801, Bexar County, Texas",943,250,NaN,NaN,91,NaN,83,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [12]:
# That looks better

In [13]:
# Then, I think using the last 6 digits of the GEO_ID is the best
# way to get the census tract as it is more standardized than the name
# field. Then I'll drop the NAME column.
s0101.dtypes

geo_id              object
name                object
s0101_c01_001e      object
s0101_c01_001m      object
s0101_c01_001ma     object
                    ...
s0101_c06_038e      object
s0101_c06_038ea     object
s0101_c06_038m      object
s0101_c06_038ma     object
unnamed: 914       float64
Length: 915, dtype: object

In [14]:
# GEO_ID is an object, so:
s0101.geo_id = s0101.geo_id.str[-6:]
s0101.head()

,geo_id,name,s0101_c01_001e,s0101_c01_001m,s0101_c01_001ma,s0101_c01_001ea,s0101_c01_002e,s0101_c01_002ea,s0101_c01_002m,s0101_c01_002ma,...,s0101_c06_036ma,s0101_c06_037e,s0101_c06_037ea,s0101_c06_037m,s0101_c06_037ma,s0101_c06_038e,s0101_c06_038ea,s0101_c06_038m,s0101_c06_038ma,unnamed: 914
0,graphy,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total!!Total population,Annotation of Margin of Error!!Total!!Total po...,Annotation of Estimate!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under ...,Annotation of Estimate!!Total!!Total populatio...,Margin of Error!!Total!!Total population!!AGE!...,Annotation of Margin of Error!!Total!!Total po...,...,Annotation of Margin of Error!!Percent Female!...,Estimate!!Percent Female!!Total population!!PE...,Annotation of Estimate!!Percent Female!!Total ...,Margin of Error!!Percent Female!!Total populat...,Annotation of Margin of Error!!Percent Female!...,Estimate!!Percent Female!!Total population!!PE...,Annotation of Estimate!!Percent Female!!Total ...,Margin of Error!!Percent Female!!Total populat...,Annotation of Margin of Error!!Percent Female!...,NaN
1,S48029,"Bexar County, Texas",1978826,*****,*****,NaN,139109,NaN,67,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,110100,"Census Tract 1101, Bexar County, Texas",3153,504,NaN,NaN,70,NaN,74,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,110300,"Census Tract 1103, Bexar County, Texas",3114,638,NaN,NaN,276,NaN,180,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,110500,"Census Tract 1105, Bexar County, Texas",2430,392,NaN,NaN,540,NaN,207,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [15]:
# that's better, but I accidentally truncated row 1 which is the
# human-readable column name. Let's look at the list of coded column names
# and see if there's any reason to keep them.
print(s0101.columns.to_list())

['geo_id', 'name', 's0101_c01_001e', 's0101_c01_001m', 's0101_c01_001ma', 's0101_c01_001ea', 's0101_c01_002e', 's0101_c01_002ea', 's0101_c01_002m', 's0101_c01_002ma', 's0101_c01_003e', 's0101_c01_003ea', 's0101_c01_003m', 's0101_c01_003ma', 's0101_c01_004e', 's0101_c01_004m', 's0101_c01_004ma', 's0101_c01_004ea', 's0101_c01_005e', 's0101_c01_005ea', 's0101_c01_005m', 's0101_c01_005ma', 's0101_c01_006e', 's0101_c01_006ea', 's0101_c01_006m', 's0101_c01_006ma', 's0101_c01_007e', 's0101_c01_007m', 's0101_c01_007ma', 's0101_c01_007ea', 's0101_c01_008e', 's0101_c01_008m', 's0101_c01_008ma', 's0101_c01_008ea', 's0101_c01_009e', 's0101_c01_009m', 's0101_c01_009ma', 's0101_c01_009ea', 's0101_c01_010e', 's0101_c01_010ea', 's0101_c01_010m', 's0101_c01_010ma', 's0101_c01_011e', 's0101_c01_011ea', 's0101_c01_011m', 's0101_c01_011ma', 's0101_c01_012e', 's0101_c01_012m', 's0101_c01_012ma', 's0101_c01_012ea', 's0101_c01_013e', 's0101_c01_013ea', 's0101_c01_013m', 's0101_c01_013ma', 's0101_c01_014e', 's0101_c01_014m', 's0101_c01_014ma', 's0101_c01_014ea', 's0101_c01_015e', 's0101_c01_015m', 's0101_c01_015ma', 's0101_c01_015ea', 's0101_c01_016e', 's0101_c01_016ea', 's0101_c01_016m', 's0101_c01_016ma', 's0101_c01_017e', 's0101_c01_017m', 's0101_c01_017ma', 's0101_c01_017ea', 's0101_c01_018e', 's0101_c01_018m', 's0101_c01_018ma', 's0101_c01_018ea', 's0101_c01_019e', 's0101_c01_019m', 's0101_c01_019ma', 's0101_c01_019ea', 's0101_c01_020e', 's0101_c01_020ea', 's0101_c01_020m', 's0101_c01_020ma', 's0101_c01_021e', 's0101_c01_021ea', 's0101_c01_021m', 's0101_c01_021ma', 's0101_c01_022e', 's0101_c01_022ea', 's0101_c01_022m', 's0101_c01_022ma', 's0101_c01_023e', 's0101_c01_023ea', 's0101_c01_023m', 's0101_c01_023ma', 's0101_c01_024e', 's0101_c01_024m', 's0101_c01_024ma', 's0101_c01_024ea', 's0101_c01_025e', 's0101_c01_025m', 's0101_c01_025ma', 's0101_c01_025ea', 's0101_c01_026e', 's0101_c01_026ea', 's0101_c01_026m', 's0101_c01_026ma', 's0101_c01_027e', 's0101_c01_027ea', 's0101_c01_027m', 's0101_c01_027ma', 's0101_c01_028e', 's0101_c01_028m', 's0101_c01_028ma', 's0101_c01_028ea', 's0101_c01_029e', 's0101_c01_029m', 's0101_c01_029ma', 's0101_c01_029ea', 's0101_c01_030e', 's0101_c01_030m', 's0101_c01_030ma', 's0101_c01_030ea', 's0101_c01_031e', 's0101_c01_031m', 's0101_c01_031ma', 's0101_c01_031ea', 's0101_c01_032e', 's0101_c01_032ea', 's0101_c01_032m', 's0101_c01_032ma', 's0101_c01_033e', 's0101_c01_033ea', 's0101_c01_033m', 's0101_c01_033ma', 's0101_c01_034e', 's0101_c01_034ea', 's0101_c01_034m', 's0101_c01_034ma', 's0101_c01_035e', 's0101_c01_035ea', 's0101_c01_035m', 's0101_c01_035ma', 's0101_c01_036e', 's0101_c01_036ea', 's0101_c01_036m', 's0101_c01_036ma', 's0101_c01_037e', 's0101_c01_037m', 's0101_c01_037ma', 's0101_c01_037ea', 's0101_c01_038e', 's0101_c01_038ea', 's0101_c01_038m', 's0101_c01_038ma', 's0101_c02_001e', 's0101_c02_001ea', 's0101_c02_001m', 's0101_c02_001ma', 's0101_c02_002e', 's0101_c02_002ea', 's0101_c02_002m', 's0101_c02_002ma', 's0101_c02_003e', 's0101_c02_003ea', 's0101_c02_003m', 's0101_c02_003ma', 's0101_c02_004e', 's0101_c02_004m', 's0101_c02_004ma', 's0101_c02_004ea', 's0101_c02_005e', 's0101_c02_005ea', 's0101_c02_005m', 's0101_c02_005ma', 's0101_c02_006e', 's0101_c02_006m', 's0101_c02_006ma', 's0101_c02_006ea', 's0101_c02_007e', 's0101_c02_007m', 's0101_c02_007ma', 's0101_c02_007ea', 's0101_c02_008e', 's0101_c02_008m', 's0101_c02_008ma', 's0101_c02_008ea', 's0101_c02_009e', 's0101_c02_009ea', 's0101_c02_009m', 's0101_c02_009ma', 's0101_c02_010e', 's0101_c02_010ea', 's0101_c02_010m', 's0101_c02_010ma', 's0101_c02_011e', 's0101_c02_011m', 's0101_c02_011ma', 's0101_c02_011ea', 's0101_c02_012e', 's0101_c02_012m', 's0101_c02_012ma', 's0101_c02_012ea', 's0101_c02_013e', 's0101_c02_013m', 's0101_c02_013ma', 's0101_c02_013ea', 's0101_c02_014e', 's0101_c02_014ea', 's0101_c02_014m', 's0101_c02_014ma', 's0101_c02_015e', 's0101_c02_015m', 's0101_c02_015ma', 's0101_c02_015ea', 's0101_c02_016e', 's0101_c02_016ea', 's0101_c02_016m', 's0101_c02_016ma', 's0101_c02_017e', 's0101_c02_017m', 's0101_c02_017ma', 's0101_c02_017ea', 's0101_c02_018e', 's0101_c02_018m', 's0101_c02_018ma', 's0101_c02_018ea', 's0101_c02_019e', 's0101_c02_019ea', 's0101_c02_019m', 's0101_c02_019ma', 's0101_c02_020e', 's0101_c02_020ea', 's0101_c02_020m', 's0101_c02_020ma', 's0101_c02_021e', 's0101_c02_021ea', 's0101_c02_021m', 's0101_c02_021ma', 's0101_c02_022e', 's0101_c02_022ea', 's0101_c02_022m', 's0101_c02_022ma', 's0101_c02_023e', 's0101_c02_023m', 's0101_c02_023ma', 's0101_c02_023ea', 's0101_c02_024e', 's0101_c02_024m', 's0101_c02_024ma', 's0101_c02_024ea', 's0101_c02_025e', 's0101_c02_025ea', 's0101_c02_025m', 's0101_c02_025ma', 's0101_c02_026e', 's0101_c02_026m', 's0101_c02_026ma', 's0101_c02_026ea', 's0101_c02_027e', 's0101_c02_027m', 's0101_c02_027ma', 's0101_c02_027ea', 's0101_c02_028e', 's0101_c02_028m', 's0101_c02_028ma', 's0101_c02_028ea', 's0101_c02_029e', 's0101_c02_029ea', 's0101_c02_029m', 's0101_c02_029ma', 's0101_c02_030e', 's0101_c02_030m', 's0101_c02_030ma', 's0101_c02_030ea', 's0101_c02_031e', 's0101_c02_031ea', 's0101_c02_031m', 's0101_c02_031ma', 's0101_c02_032e', 's0101_c02_032ea', 's0101_c02_032m', 's0101_c02_032ma', 's0101_c02_033e', 's0101_c02_033m', 's0101_c02_033ma', 's0101_c02_033ea', 's0101_c02_034e', 's0101_c02_034ea', 's0101_c02_034m', 's0101_c02_034ma', 's0101_c02_035e', 's0101_c02_035ea', 's0101_c02_035m', 's0101_c02_035ma', 's0101_c02_036e', 's0101_c02_036ea', 's0101_c02_036m', 's0101_c02_036ma', 's0101_c02_037e', 's0101_c02_037m', 's0101_c02_037ma', 's0101_c02_037ea', 's0101_c02_038e', 's0101_c02_038ea', 's0101_c02_038m', 's0101_c02_038ma', 's0101_c03_001e', 's0101_c03_001ea', 's0101_c03_001m', 's0101_c03_001ma', 's0101_c03_002e', 's0101_c03_002ea', 's0101_c03_002m', 's0101_c03_002ma', 's0101_c03_003e', 's0101_c03_003m', 's0101_c03_003ma', 's0101_c03_003ea', 's0101_c03_004e', 's0101_c03_004m', 's0101_c03_004ma', 's0101_c03_004ea', 's0101_c03_005e', 's0101_c03_005m', 's0101_c03_005ma', 's0101_c03_005ea', 's0101_c03_006e', 's0101_c03_006m', 's0101_c03_006ma', 's0101_c03_006ea', 's0101_c03_007e', 's0101_c03_007ea', 's0101_c03_007m', 's0101_c03_007ma', 's0101_c03_008e', 's0101_c03_008ea', 's0101_c03_008m', 's0101_c03_008ma', 's0101_c03_009e', 's0101_c03_009ea', 's0101_c03_009m', 's0101_c03_009ma', 's0101_c03_010e', 's0101_c03_010m', 's0101_c03_010ma', 's0101_c03_010ea', 's0101_c03_011e', 's0101_c03_011m', 's0101_c03_011ma', 's0101_c03_011ea', 's0101_c03_012e', 's0101_c03_012ea', 's0101_c03_012m', 's0101_c03_012ma', 's0101_c03_013e', 's0101_c03_013m', 's0101_c03_013ma', 's0101_c03_013ea', 's0101_c03_014e', 's0101_c03_014m', 's0101_c03_014ma', 's0101_c03_014ea', 's0101_c03_015e', 's0101_c03_015ea', 's0101_c03_015m', 's0101_c03_015ma', 's0101_c03_016e', 's0101_c03_016ea', 's0101_c03_016m', 's0101_c03_016ma', 's0101_c03_017e', 's0101_c03_017m', 's0101_c03_017ma', 's0101_c03_017ea', 's0101_c03_018e', 's0101_c03_018ea', 's0101_c03_018m', 's0101_c03_018ma', 's0101_c03_019e', 's0101_c03_019ea', 's0101_c03_019m', 's0101_c03_019ma', 's0101_c03_020e', 's0101_c03_020m', 's0101_c03_020ma', 's0101_c03_020ea', 's0101_c03_021e', 's0101_c03_021ea', 's0101_c03_021m', 's0101_c03_021ma', 's0101_c03_022e', 's0101_c03_022m', 's0101_c03_022ma', 's0101_c03_022ea', 's0101_c03_023e', 's0101_c03_023ea', 's0101_c03_023m', 's0101_c03_023ma', 's0101_c03_024e', 's0101_c03_024m', 's0101_c03_024ma', 's0101_c03_024ea', 's0101_c03_025e', 's0101_c03_025m', 's0101_c03_025ma', 's0101_c03_025ea', 's0101_c03_026e', 's0101_c03_026m', 's0101_c03_026ma', 's0101_c03_026ea', 's0101_c03_027e', 's0101_c03_027m', 's0101_c03_027ma', 's0101_c03_027ea', 's0101_c03_028e', 's0101_c03_028ea', 's0101_c03_028m', 's0101_c03_028ma', 's0101_c03_029e', 's0101_c03_029ea', 's0101_c03_029m', 's0101_c03_029ma', 's0101_c03_030e', 's0101_c03_030ea', 's0101_c03_030m', 's0101_c03_030ma', 's0101_c03_031e', 's0101_c03_031ea', 's0101_c03_031m', 's0101_c03_031ma', 's0101_c03_032e', 's0101_c03_032m', 's0101_c03_032ma', 's0101_c03_032ea', 's0101_c03_033e', 's0101_c03_033m', 's0101_c03_033ma', 's0101_c03_033ea', 's0101_c03_034e', 's0101_c03_034ea', 's0101_c03_034m', 's0101_c03_034ma', 's0101_c03_035e', 's0101_c03_035m', 's0101_c03_035ma', 's0101_c03_035ea', 's0101_c03_036e', 's0101_c03_036m', 's0101_c03_036ma', 's0101_c03_036ea', 's0101_c03_037e', 's0101_c03_037m', 's0101_c03_037ma', 's0101_c03_037ea', 's0101_c03_038e', 's0101_c03_038m', 's0101_c03_038ma', 's0101_c03_038ea', 's0101_c04_001e', 's0101_c04_001ea', 's0101_c04_001m', 's0101_c04_001ma', 's0101_c04_002e', 's0101_c04_002m', 's0101_c04_002ma', 's0101_c04_002ea', 's0101_c04_003e', 's0101_c04_003m', 's0101_c04_003ma', 's0101_c04_003ea', 's0101_c04_004e', 's0101_c04_004m', 's0101_c04_004ma', 's0101_c04_004ea', 's0101_c04_005e', 's0101_c04_005m', 's0101_c04_005ma', 's0101_c04_005ea', 's0101_c04_006e', 's0101_c04_006ea', 's0101_c04_006m', 's0101_c04_006ma', 's0101_c04_007e', 's0101_c04_007ea', 's0101_c04_007m', 's0101_c04_007ma', 's0101_c04_008e', 's0101_c04_008ea', 's0101_c04_008m', 's0101_c04_008ma', 's0101_c04_009e', 's0101_c04_009m', 's0101_c04_009ma', 's0101_c04_009ea', 's0101_c04_010e', 's0101_c04_010ea', 's0101_c04_010m', 's0101_c04_010ma', 's0101_c04_011e', 's0101_c04_011m', 's0101_c04_011ma', 's0101_c04_011ea', 's0101_c04_012e', 's0101_c04_012ea', 's0101_c04_012m', 's0101_c04_012ma', 's0101_c04_013e', 's0101_c04_013m', 's0101_c04_013ma', 's0101_c04_013ea', 's0101_c04_014e', 's0101_c04_014ea', 's0101_c04_014m', 's0101_c04_014ma', 's0101_c04_015e', 's0101_c04_015ea', 's0101_c04_015m', 's0101_c04_015ma', 's0101_c04_016e', 's0101_c04_016m', 's0101_c04_016ma', 's0101_c04_016ea', 's0101_c04_017e', 's0101_c04_017ea', 's0101_c04_017m', 's0101_c04_017ma', 's0101_c04_018e', 's0101_c04_018ea', 's0101_c04_018m', 's0101_c04_018ma', 's0101_c04_019e', 's0101_c04_019m', 's0101_c04_019ma', 's0101_c04_019ea', 's0101_c04_020e', 's0101_c04_020m', 's0101_c04_020ma', 's0101_c04_020ea', 's0101_c04_021e', 's0101_c04_021ea', 's0101_c04_021m', 's0101_c04_021ma', 's0101_c04_022e', 's0101_c04_022m', 's0101_c04_022ma', 's0101_c04_022ea', 's0101_c04_023e', 's0101_c04_023m', 's0101_c04_023ma', 's0101_c04_023ea', 's0101_c04_024e', 's0101_c04_024ea', 's0101_c04_024m', 's0101_c04_024ma', 's0101_c04_025e', 's0101_c04_025m', 's0101_c04_025ma', 's0101_c04_025ea', 's0101_c04_026e', 's0101_c04_026m', 's0101_c04_026ma', 's0101_c04_026ea', 's0101_c04_027e', 's0101_c04_027ea', 's0101_c04_027m', 's0101_c04_027ma', 's0101_c04_028e', 's0101_c04_028ea', 's0101_c04_028m', 's0101_c04_028ma', 's0101_c04_029e', 's0101_c04_029ea', 's0101_c04_029m', 's0101_c04_029ma', 's0101_c04_030e', 's0101_c04_030ea', 's0101_c04_030m', 's0101_c04_030ma', 's0101_c04_031e', 's0101_c04_031m', 's0101_c04_031ma', 's0101_c04_031ea', 's0101_c04_032e', 's0101_c04_032ea', 's0101_c04_032m', 's0101_c04_032ma', 's0101_c04_033e', 's0101_c04_033m', 's0101_c04_033ma', 's0101_c04_033ea', 's0101_c04_034e', 's0101_c04_034m', 's0101_c04_034ma', 's0101_c04_034ea', 's0101_c04_035e', 's0101_c04_035m', 's0101_c04_035ma', 's0101_c04_035ea', 's0101_c04_036e', 's0101_c04_036m', 's0101_c04_036ma', 's0101_c04_036ea', 's0101_c04_037e', 's0101_c04_037ea', 's0101_c04_037m', 's0101_c04_037ma', 's0101_c04_038e', 's0101_c04_038m', 's0101_c04_038ma', 's0101_c04_038ea', 's0101_c05_001e', 's0101_c05_001m', 's0101_c05_001ma', 's0101_c05_001ea', 's0101_c05_002e', 's0101_c05_002m', 's0101_c05_002ma', 's0101_c05_002ea', 's0101_c05_003e', 's0101_c05_003ea', 's0101_c05_003m', 's0101_c05_003ma', 's0101_c05_004e', 's0101_c05_004m', 's0101_c05_004ma', 's0101_c05_004ea', 's0101_c05_005e', 's0101_c05_005ea', 's0101_c05_005m', 's0101_c05_005ma', 's0101_c05_006e', 's0101_c05_006ea', 's0101_c05_006m', 's0101_c05_006ma', 's0101_c05_007e', 's0101_c05_007ea', 's0101_c05_007m', 's0101_c05_007ma', 's0101_c05_008e', 's0101_c05_008ea', 's0101_c05_008m', 's0101_c05_008ma', 's0101_c05_009e', 's0101_c05_009m', 's0101_c05_009ma', 's0101_c05_009ea', 's0101_c05_010e', 's0101_c05_010m', 's0101_c05_010ma', 's0101_c05_010ea', 's0101_c05_011e', 's0101_c05_011ea', 's0101_c05_011m', 's0101_c05_011ma', 's0101_c05_012e', 's0101_c05_012ea', 's0101_c05_012m', 's0101_c05_012ma', 's0101_c05_013e', 's0101_c05_013ea', 's0101_c05_013m', 's0101_c05_013ma', 's0101_c05_014e', 's0101_c05_014ea', 's0101_c05_014m', 's0101_c05_014ma', 's0101_c05_015e', 's0101_c05_015m', 's0101_c05_015ma', 's0101_c05_015ea', 's0101_c05_016e', 's0101_c05_016m', 's0101_c05_016ma', 's0101_c05_016ea', 's0101_c05_017e', 's0101_c05_017ea', 's0101_c05_017m', 's0101_c05_017ma', 's0101_c05_018e', 's0101_c05_018m', 's0101_c05_018ma', 's0101_c05_018ea', 's0101_c05_019e', 's0101_c05_019ea', 's0101_c05_019m', 's0101_c05_019ma', 's0101_c05_020e', 's0101_c05_020m', 's0101_c05_020ma', 's0101_c05_020ea', 's0101_c05_021e', 's0101_c05_021m', 's0101_c05_021ma', 's0101_c05_021ea', 's0101_c05_022e', 's0101_c05_022m', 's0101_c05_022ma', 's0101_c05_022ea', 's0101_c05_023e', 's0101_c05_023ea', 's0101_c05_023m', 's0101_c05_023ma', 's0101_c05_024e', 's0101_c05_024ea', 's0101_c05_024m', 's0101_c05_024ma', 's0101_c05_025e', 's0101_c05_025ea', 's0101_c05_025m', 's0101_c05_025ma', 's0101_c05_026e', 's0101_c05_026ea', 's0101_c05_026m', 's0101_c05_026ma', 's0101_c05_027e', 's0101_c05_027ea', 's0101_c05_027m', 's0101_c05_027ma', 's0101_c05_028e', 's0101_c05_028m', 's0101_c05_028ma', 's0101_c05_028ea', 's0101_c05_029e', 's0101_c05_029ea', 's0101_c05_029m', 's0101_c05_029ma', 's0101_c05_030e', 's0101_c05_030ea', 's0101_c05_030m', 's0101_c05_030ma', 's0101_c05_031e', 's0101_c05_031m', 's0101_c05_031ma', 's0101_c05_031ea', 's0101_c05_032e', 's0101_c05_032m', 's0101_c05_032ma', 's0101_c05_032ea', 's0101_c05_033e', 's0101_c05_033m', 's0101_c05_033ma', 's0101_c05_033ea', 's0101_c05_034e', 's0101_c05_034m', 's0101_c05_034ma', 's0101_c05_034ea', 's0101_c05_035e', 's0101_c05_035m', 's0101_c05_035ma', 's0101_c05_035ea', 's0101_c05_036e', 's0101_c05_036ea', 's0101_c05_036m', 's0101_c05_036ma', 's0101_c05_037e', 's0101_c05_037ea', 's0101_c05_037m', 's0101_c05_037ma', 's0101_c05_038e', 's0101_c05_038ea', 's0101_c05_038m', 's0101_c05_038ma', 's0101_c06_001e', 's0101_c06_001m', 's0101_c06_001ma', 's0101_c06_001ea', 's0101_c06_002e', 's0101_c06_002ea', 's0101_c06_002m', 's0101_c06_002ma', 's0101_c06_003e', 's0101_c06_003ea', 's0101_c06_003m', 's0101_c06_003ma', 's0101_c06_004e', 's0101_c06_004m', 's0101_c06_004ma', 's0101_c06_004ea', 's0101_c06_005e', 's0101_c06_005ea', 's0101_c06_005m', 's0101_c06_005ma', 's0101_c06_006e', 's0101_c06_006ea', 's0101_c06_006m', 's0101_c06_006ma', 's0101_c06_007e', 's0101_c06_007m', 's0101_c06_007ma', 's0101_c06_007ea', 's0101_c06_008e', 's0101_c06_008m', 's0101_c06_008ma', 's0101_c06_008ea', 's0101_c06_009e', 's0101_c06_009m', 's0101_c06_009ma', 's0101_c06_009ea', 's0101_c06_010e', 's0101_c06_010ea', 's0101_c06_010m', 's0101_c06_010ma', 's0101_c06_011e', 's0101_c06_011ea', 's0101_c06_011m', 's0101_c06_011ma', 's0101_c06_012e', 's0101_c06_012ea', 's0101_c06_012m', 's0101_c06_012ma', 's0101_c06_013e', 's0101_c06_013ea', 's0101_c06_013m', 's0101_c06_013ma', 's0101_c06_014e', 's0101_c06_014m', 's0101_c06_014ma', 's0101_c06_014ea', 's0101_c06_015e', 's0101_c06_015m', 's0101_c06_015ma', 's0101_c06_015ea', 's0101_c06_016e', 's0101_c06_016m', 's0101_c06_016ma', 's0101_c06_016ea', 's0101_c06_017e', 's0101_c06_017ea', 's0101_c06_017m', 's0101_c06_017ma', 's0101_c06_018e', 's0101_c06_018m', 's0101_c06_018ma', 's0101_c06_018ea', 's0101_c06_019e', 's0101_c06_019m', 's0101_c06_019ma', 's0101_c06_019ea', 's0101_c06_020e', 's0101_c06_020ea', 's0101_c06_020m', 's0101_c06_020ma', 's0101_c06_021e', 's0101_c06_021m', 's0101_c06_021ma', 's0101_c06_021ea', 's0101_c06_022e', 's0101_c06_022ea', 's0101_c06_022m', 's0101_c06_022ma', 's0101_c06_023e', 's0101_c06_023ea', 's0101_c06_023m', 's0101_c06_023ma', 's0101_c06_024e', 's0101_c06_024m', 's0101_c06_024ma', 's0101_c06_024ea', 's0101_c06_025e', 's0101_c06_025ea', 's0101_c06_025m', 's0101_c06_025ma', 's0101_c06_026e', 's0101_c06_026ea', 's0101_c06_026m', 's0101_c06_026ma', 's0101_c06_027e', 's0101_c06_027m', 's0101_c06_027ma', 's0101_c06_027ea', 's0101_c06_028e', 's0101_c06_028ea', 's0101_c06_028m', 's0101_c06_028ma', 's0101_c06_029e', 's0101_c06_029ea', 's0101_c06_029m', 's0101_c06_029ma', 's0101_c06_030e', 's0101_c06_030m', 's0101_c06_030ma', 's0101_c06_030ea', 's0101_c06_031e', 's0101_c06_031m', 's0101_c06_031ma', 's0101_c06_031ea', 's0101_c06_032e', 's0101_c06_032ea', 's0101_c06_032m', 's0101_c06_032ma', 's0101_c06_033e', 's0101_c06_033m', 's0101_c06_033ma', 's0101_c06_033ea', 's0101_c06_034e', 's0101_c06_034ea', 's0101_c06_034m', 's0101_c06_034ma', 's0101_c06_035e', 's0101_c06_035ea', 's0101_c06_035m', 's0101_c06_035ma', 's0101_c06_036e', 's0101_c06_036ea', 's0101_c06_036m', 's0101_c06_036ma', 's0101_c06_037e', 's0101_c06_037ea', 's0101_c06_037m', 's0101_c06_037ma', 's0101_c06_038e', 's0101_c06_038ea', 's0101_c06_038m', 's0101_c06_038ma', 'unnamed: 914']

In [16]:
# besides geo_id and name, those are actully pretty useless for the scope of this project
# I'll go ahead and drop that row and reassign row 1 as columns
# I'll go back and import the .csv using header=1 and skiprows=[0]
s0101 = pd.read_csv('sex_and_age.csv', skiprows=[0])
# I guess it does the skip first and then grabs header so just need the skiprows
s0101

,Geography,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total!!Total population,Annotation of Margin of Error!!Total!!Total population,Annotation of Estimate!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under 5 years,Annotation of Estimate!!Total!!Total population!!AGE!!Under 5 years,Margin of Error!!Total!!Total population!!AGE!!Under 5 years,Annotation of Margin of Error!!Total!!Total population!!AGE!!Under 5 years,...,Annotation of Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Annotation of Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Annotation of Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Annotation of Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Annotation of Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Unnamed: 914
0,0500000US48029,"Bexar County, Texas",1978826,*****,*****,NaN,139109,NaN,67,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
1,1400000US48029110100,"Census Tract 1101, Bexar County, Texas",3153,504,NaN,NaN,70,NaN,74,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,1400000US48029110300,"Census Tract 1103, Bexar County, Texas",3114,638,NaN,NaN,276,NaN,180,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,1400000US48029110500,"Census Tract 1105, Bexar County, Texas",2430,392,NaN,NaN,540,NaN,207,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,1400000US48029110600,"Census Tract 1106, Bexar County, Texas",5645,1041,NaN,NaN,207,NaN,141,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,1400000US48029980002,"Census Tract 9800.02, Bexar County, Texas",0,14,NaN,NaN,0,NaN,14,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
372,1400000US48029980003,"Census Tract 9800.03, Bexar County, Texas",1059,286,NaN,NaN,84,NaN,31,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
373,1400000US48029980004,"Census Tract 9800.04, Bexar County, Texas",0,14,NaN,NaN,0,NaN,14,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
374,1400000US48029980005,"Census Tract 9800.05, Bexar County, Texas",0,14,NaN,NaN,0,NaN,14,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
375,1400000US48029980100,"Census Tract 9801, Bexar County, Texas",943,250,NaN,NaN,91,NaN,83,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [17]:
# but now, row 0 is aggregate data for the county, this is not likely to be
# useful and may create confusion for modeling so will actually drop that at
# import as well. It is row 2 in the original .csv:
s0101 = pd.read_csv('sex_and_age.csv', skiprows=[0,2])

s0101

,Geography,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total!!Total population,Annotation of Margin of Error!!Total!!Total population,Annotation of Estimate!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under 5 years,Annotation of Estimate!!Total!!Total population!!AGE!!Under 5 years,Margin of Error!!Total!!Total population!!AGE!!Under 5 years,Annotation of Margin of Error!!Total!!Total population!!AGE!!Under 5 years,...,Annotation of Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Annotation of Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Annotation of Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Annotation of Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Annotation of Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Unnamed: 914
0,1400000US48029110100,"Census Tract 1101, Bexar County, Texas",3153,504,NaN,NaN,70,NaN,74,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
1,1400000US48029110300,"Census Tract 1103, Bexar County, Texas",3114,638,NaN,NaN,276,NaN,180,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,1400000US48029110500,"Census Tract 1105, Bexar County, Texas",2430,392,NaN,NaN,540,NaN,207,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,1400000US48029110600,"Census Tract 1106, Bexar County, Texas",5645,1041,NaN,NaN,207,NaN,141,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,1400000US48029110700,"Census Tract 1107, Bexar County, Texas",1079,207,NaN,NaN,43,NaN,35,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,1400000US48029980002,"Census Tract 9800.02, Bexar County, Texas",0,14,NaN,NaN,0,NaN,14,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
371,1400000US48029980003,"Census Tract 9800.03, Bexar County, Texas",1059,286,NaN,NaN,84,NaN,31,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
372,1400000US48029980004,"Census Tract 9800.04, Bexar County, Texas",0,14,NaN,NaN,0,NaN,14,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
373,1400000US48029980005,"Census Tract 9800.05, Bexar County, Texas",0,14,NaN,NaN,0,NaN,14,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
374,1400000US48029980100,"Census Tract 9801, Bexar County, Texas",943,250,NaN,NaN,91,NaN,83,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [18]:
# boom, now take the last six of the Geography:
s0101.Geography = s0101.Geography.str[-6:]
s0101.head()

,Geography,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total!!Total population,Annotation of Margin of Error!!Total!!Total population,Annotation of Estimate!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under 5 years,Annotation of Estimate!!Total!!Total population!!AGE!!Under 5 years,Margin of Error!!Total!!Total population!!AGE!!Under 5 years,Annotation of Margin of Error!!Total!!Total population!!AGE!!Under 5 years,...,Annotation of Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Annotation of Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Annotation of Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Annotation of Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Annotation of Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Unnamed: 914
0,110100,"Census Tract 1101, Bexar County, Texas",3153,504,NaN,NaN,70,NaN,74,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
1,110300,"Census Tract 1103, Bexar County, Texas",3114,638,NaN,NaN,276,NaN,180,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,110500,"Census Tract 1105, Bexar County, Texas",2430,392,NaN,NaN,540,NaN,207,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,110600,"Census Tract 1106, Bexar County, Texas",5645,1041,NaN,NaN,207,NaN,141,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,110700,"Census Tract 1107, Bexar County, Texas",1079,207,NaN,NaN,43,NaN,35,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [19]:
s0101.columns.str.contains('Margin|Annotation')

array([False, False, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False])

In [20]:
# I'm going to drop most of these features, but there are so many that I will
# start by dropping all of the margin of error and annotation features
filtered_cols = s0101.columns.str.contains('Margin|Annotation')
cols_to_drop = s0101.columns[filtered_cols].to_list()
s0101 = s0101.drop(columns=cols_to_drop)
s0101

# def drop_cols(df):
#     for col in df.columns:
#         if

,Geography,Geographic Area Name,Estimate!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under 5 years,Estimate!!Total!!Total population!!AGE!!5 to 9 years,Estimate!!Total!!Total population!!AGE!!10 to 14 years,Estimate!!Total!!Total population!!AGE!!15 to 19 years,Estimate!!Total!!Total population!!AGE!!20 to 24 years,Estimate!!Total!!Total population!!AGE!!25 to 29 years,Estimate!!Total!!Total population!!AGE!!30 to 34 years,...,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Median age (years),Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Unnamed: 914
0,110100,"Census Tract 1101, Bexar County, Texas",3153,70,45,35,33,267,564,251,...,19.6,10.1,(X),(X),(X),(X),(X),(X),(X),NaN
1,110300,"Census Tract 1103, Bexar County, Texas",3114,276,267,128,209,170,208,437,...,8.5,0.6,(X),(X),(X),(X),(X),(X),(X),NaN
2,110500,"Census Tract 1105, Bexar County, Texas",2430,540,258,136,115,156,204,174,...,11.1,4.7,(X),(X),(X),(X),(X),(X),(X),NaN
3,110600,"Census Tract 1106, Bexar County, Texas",5645,207,86,114,256,476,726,603,...,25.1,12.9,(X),(X),(X),(X),(X),(X),(X),NaN
4,110700,"Census Tract 1107, Bexar County, Texas",1079,43,73,60,36,76,26,46,...,27.0,14.0,(X),(X),(X),(X),(X),(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,980002,"Census Tract 9800.02, Bexar County, Texas",0,0,0,0,0,0,0,0,...,-,-,(X),(X),(X),(X),(X),(X),(X),NaN
371,980003,"Census Tract 9800.03, Bexar County, Texas",1059,84,72,40,225,244,150,77,...,0.0,0.0,(X),(X),(X),(X),(X),(X),(X),NaN
372,980004,"Census Tract 9800.04, Bexar County, Texas",0,0,0,0,0,0,0,0,...,-,-,(X),(X),(X),(X),(X),(X),(X),NaN
373,980005,"Census Tract 9800.05, Bexar County, Texas",0,0,0,0,0,0,0,0,...,-,-,(X),(X),(X),(X),(X),(X),(X),NaN
374,980100,"Census Tract 9801, Bexar County, Texas",943,91,63,84,169,232,97,68,...,2.9,0.0,(X),(X),(X),(X),(X),(X),(X),NaN

In [21]:
# ok, that dropped from 915 cols to 231. Now I'm just gonna look at the list
# for some features I may want.
cols = s0101.columns.to_list()
cols

['Geography',
 'Geographic Area Name',
 'Estimate!!Total!!Total population',
 'Estimate!!Total!!Total population!!AGE!!Under 5 years',
 'Estimate!!Total!!Total population!!AGE!!5 to 9 years',
 'Estimate!!Total!!Total population!!AGE!!10 to 14 years',
 'Estimate!!Total!!Total population!!AGE!!15 to 19 years',
 'Estimate!!Total!!Total population!!AGE!!20 to 24 years',
 'Estimate!!Total!!Total population!!AGE!!25 to 29 years',
 'Estimate!!Total!!Total population!!AGE!!30 to 34 years',
 'Estimate!!Total!!Total population!!AGE!!35 to 39 years',
 'Estimate!!Total!!Total population!!AGE!!40 to 44 years',
 'Estimate!!Total!!Total population!!AGE!!45 to 49 years',
 'Estimate!!Total!!Total population!!AGE!!50 to 54 years',
 'Estimate!!Total!!Total population!!AGE!!55 to 59 years',
 'Estimate!!Total!!Total population!!AGE!!60 to 64 years',
 'Estimate!!Total!!Total population!!AGE!!65 to 69 years',
 'Estimate!!Total!!Total population!!AGE!!70 to 74 years',
 'Estimate!!Total!!Total population!!AGE!!75 to 79 years',
 'Estimate!!Total!!Total population!!AGE!!80 to 84 years',
 'Estimate!!Total!!Total population!!AGE!!85 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!16 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!21 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!60 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!62 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!65 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!75 years and over',
 'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Median age (years)',
 'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)',
 'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Age dependency ratio',
 'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio',
 'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Child dependency ratio',
 'Estimate!!Total!!Total population!!PERCENT ALLOCATED!!Sex',
 'Estimate!!Total!!Total population!!PERCENT ALLOCATED!!Age',
 'Estimate!!Percent!!Total population',
 'Estimate!!Percent!!Total population!!AGE!!Under 5 years',
 'Estimate!!Percent!!Total population!!AGE!!5 to 9 years',
 'Estimate!!Percent!!Total population!!AGE!!10 to 14 years',
 'Estimate!!Percent!!Total population!!AGE!!15 to 19 years',
 'Estimate!!Percent!!Total population!!AGE!!20 to 24 years',
 'Estimate!!Percent!!Total population!!AGE!!25 to 29 years',
 'Estimate!!Percent!!Total population!!AGE!!30 to 34 years',
 'Estimate!!Percent!!Total population!!AGE!!35 to 39 years',
 'Estimate!!Percent!!Total population!!AGE!!40 to 44 years',
 'Estimate!!Percent!!Total population!!AGE!!45 to 49 years',
 'Estimate!!Percent!!Total population!!AGE!!50 to 54 years',
 'Estimate!!Percent!!Total population!!AGE!!55 to 59 years',
 'Estimate!!Percent!!Total population!!AGE!!60 to 64 years',
 'Estimate!!Percent!!Total population!!AGE!!65 to 69 years',
 'Estimate!!Percent!!Total population!!AGE!!70 to 74 years',
 'Estimate!!Percent!!Total population!!AGE!!75 to 79 years',
 'Estimate!!Percent!!Total population!!AGE!!80 to 84 years',
 'Estimate!!Percent!!Total population!!AGE!!85 years and over',
 'Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years',
 'Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years',
 'Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!16 years and over',
 'Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!18 years and over',
 'Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!21 years and over',
 'Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!60 years and over',
 'Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!62 years and over',
 'Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!65 years and over',
 'Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!75 years and over',
 'Estimate!!Percent!!Total population!!SUMMARY INDICATORS!!Median age (years)',
 'Estimate!!Percent!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)',
 'Estimate!!Percent!!Total population!!SUMMARY INDICATORS!!Age dependency ratio',
 'Estimate!!Percent!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio',
 'Estimate!!Percent!!Total population!!SUMMARY INDICATORS!!Child dependency ratio',
 'Estimate!!Percent!!Total population!!PERCENT ALLOCATED!!Sex',
 'Estimate!!Percent!!Total population!!PERCENT ALLOCATED!!Age',
 'Estimate!!Male!!Total population',
 'Estimate!!Male!!Total population!!AGE!!Under 5 years',
 'Estimate!!Male!!Total population!!AGE!!5 to 9 years',
 'Estimate!!Male!!Total population!!AGE!!10 to 14 years',
 'Estimate!!Male!!Total population!!AGE!!15 to 19 years',
 'Estimate!!Male!!Total population!!AGE!!20 to 24 years',
 'Estimate!!Male!!Total population!!AGE!!25 to 29 years',
 'Estimate!!Male!!Total population!!AGE!!30 to 34 years',
 'Estimate!!Male!!Total population!!AGE!!35 to 39 years',
 'Estimate!!Male!!Total population!!AGE!!40 to 44 years',
 'Estimate!!Male!!Total population!!AGE!!45 to 49 years',
 'Estimate!!Male!!Total population!!AGE!!50 to 54 years',
 'Estimate!!Male!!Total population!!AGE!!55 to 59 years',
 'Estimate!!Male!!Total population!!AGE!!60 to 64 years',
 'Estimate!!Male!!Total population!!AGE!!65 to 69 years',
 'Estimate!!Male!!Total population!!AGE!!70 to 74 years',
 'Estimate!!Male!!Total population!!AGE!!75 to 79 years',
 'Estimate!!Male!!Total population!!AGE!!80 to 84 years',
 'Estimate!!Male!!Total population!!AGE!!85 years and over',
 'Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years',
 'Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years',
 'Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!16 years and over',
 'Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!18 years and over',
 'Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!21 years and over',
 'Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!60 years and over',
 'Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!62 years and over',
 'Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!65 years and over',
 'Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!75 years and over',
 'Estimate!!Male!!Total population!!SUMMARY INDICATORS!!Median age (years)',
 'Estimate!!Male!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)',
 'Estimate!!Male!!Total population!!SUMMARY INDICATORS!!Age dependency ratio',
 'Estimate!!Male!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio',
 'Estimate!!Male!!Total population!!SUMMARY INDICATORS!!Child dependency ratio',
 'Estimate!!Male!!Total population!!PERCENT ALLOCATED!!Sex',
 'Estimate!!Male!!Total population!!PERCENT ALLOCATED!!Age',
 'Estimate!!Percent Male!!Total population',
 'Estimate!!Percent Male!!Total population!!AGE!!Under 5 years',
 'Estimate!!Percent Male!!Total population!!AGE!!5 to 9 years',
 'Estimate!!Percent Male!!Total population!!AGE!!10 to 14 years',
 'Estimate!!Percent Male!!Total population!!AGE!!15 to 19 years',
 'Estimate!!Percent Male!!Total population!!AGE!!20 to 24 years',
 'Estimate!!Percent Male!!Total population!!AGE!!25 to 29 years',
 'Estimate!!Percent Male!!Total population!!AGE!!30 to 34 years',
 'Estimate!!Percent Male!!Total population!!AGE!!35 to 39 years',
 'Estimate!!Percent Male!!Total population!!AGE!!40 to 44 years',
 'Estimate!!Percent Male!!Total population!!AGE!!45 to 49 years',
 'Estimate!!Percent Male!!Total population!!AGE!!50 to 54 years',
 'Estimate!!Percent Male!!Total population!!AGE!!55 to 59 years',
 'Estimate!!Percent Male!!Total population!!AGE!!60 to 64 years',
 'Estimate!!Percent Male!!Total population!!AGE!!65 to 69 years',
 'Estimate!!Percent Male!!Total population!!AGE!!70 to 74 years',
 'Estimate!!Percent Male!!Total population!!AGE!!75 to 79 years',
 'Estimate!!Percent Male!!Total population!!AGE!!80 to 84 years',
 'Estimate!!Percent Male!!Total population!!AGE!!85 years and over',
 'Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years',
 'Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years',
 'Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!16 years and over',
 'Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!18 years and over',
 'Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!21 years and over',
 'Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!60 years and over',
 'Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!62 years and over',
 'Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!65 years and over',
 'Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!75 years and over',
 'Estimate!!Percent Male!!Total population!!SUMMARY INDICATORS!!Median age (years)',
 'Estimate!!Percent Male!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)',
 'Estimate!!Percent Male!!Total population!!SUMMARY INDICATORS!!Age dependency ratio',
 'Estimate!!Percent Male!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio',
 'Estimate!!Percent Male!!Total population!!SUMMARY INDICATORS!!Child dependency ratio',
 'Estimate!!Percent Male!!Total population!!PERCENT ALLOCATED!!Sex',
 'Estimate!!Percent Male!!Total population!!PERCENT ALLOCATED!!Age',
 'Estimate!!Female!!Total population',
 'Estimate!!Female!!Total population!!AGE!!Under 5 years',
 'Estimate!!Female!!Total population!!AGE!!5 to 9 years',
 'Estimate!!Female!!Total population!!AGE!!10 to 14 years',
 'Estimate!!Female!!Total population!!AGE!!15 to 19 years',
 'Estimate!!Female!!Total population!!AGE!!20 to 24 years',
 'Estimate!!Female!!Total population!!AGE!!25 to 29 years',
 'Estimate!!Female!!Total population!!AGE!!30 to 34 years',
 'Estimate!!Female!!Total population!!AGE!!35 to 39 years',
 'Estimate!!Female!!Total population!!AGE!!40 to 44 years',
 'Estimate!!Female!!Total population!!AGE!!45 to 49 years',
 'Estimate!!Female!!Total population!!AGE!!50 to 54 years',
 'Estimate!!Female!!Total population!!AGE!!55 to 59 years',
 'Estimate!!Female!!Total population!!AGE!!60 to 64 years',
 'Estimate!!Female!!Total population!!AGE!!65 to 69 years',
 'Estimate!!Female!!Total population!!AGE!!70 to 74 years',
 'Estimate!!Female!!Total population!!AGE!!75 to 79 years',
 'Estimate!!Female!!Total population!!AGE!!80 to 84 years',
 'Estimate!!Female!!Total population!!AGE!!85 years and over',
 'Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years',
 'Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years',
 'Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!16 years and over',
 'Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!18 years and over',
 'Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!21 years and over',
 'Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!60 years and over',
 'Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!62 years and over',
 'Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!65 years and over',
 'Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!75 years and over',
 'Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Median age (years)',
 'Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)',
 'Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio',
 'Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio',
 'Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio',
 'Estimate!!Female!!Total population!!PERCENT ALLOCATED!!Sex',
 'Estimate!!Female!!Total population!!PERCENT ALLOCATED!!Age',
 'Estimate!!Percent Female!!Total population',
 'Estimate!!Percent Female!!Total population!!AGE!!Under 5 years',
 'Estimate!!Percent Female!!Total population!!AGE!!5 to 9 years',
 'Estimate!!Percent Female!!Total population!!AGE!!10 to 14 years',
 'Estimate!!Percent Female!!Total population!!AGE!!15 to 19 years',
 'Estimate!!Percent Female!!Total population!!AGE!!20 to 24 years',
 'Estimate!!Percent Female!!Total population!!AGE!!25 to 29 years',
 'Estimate!!Percent Female!!Total population!!AGE!!30 to 34 years',
 'Estimate!!Percent Female!!Total population!!AGE!!35 to 39 years',
 'Estimate!!Percent Female!!Total population!!AGE!!40 to 44 years',
 'Estimate!!Percent Female!!Total population!!AGE!!45 to 49 years',
 'Estimate!!Percent Female!!Total population!!AGE!!50 to 54 years',
 'Estimate!!Percent Female!!Total population!!AGE!!55 to 59 years',
 'Estimate!!Percent Female!!Total population!!AGE!!60 to 64 years',
 'Estimate!!Percent Female!!Total population!!AGE!!65 to 69 years',
 'Estimate!!Percent Female!!Total population!!AGE!!70 to 74 years',
 'Estimate!!Percent Female!!Total population!!AGE!!75 to 79 years',
 'Estimate!!Percent Female!!Total population!!AGE!!80 to 84 years',
 'Estimate!!Percent Female!!Total population!!AGE!!85 years and over',
 'Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years',
 'Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years',
 'Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!16 years and over',
 'Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!18 years and over',
 'Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!21 years and over',
 'Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!60 years and over',
 'Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!62 years and over',
 'Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!65 years and over',
 'Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!75 years and over',
 'Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Median age (years)',
 'Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)',
 'Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio',
 'Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio',
 'Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio',
 'Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex',
 'Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age',
 'Unnamed: 914']

In [22]:
s0101_cols = ['Geography', 'Estimate!!Total!!Total population',
              'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)',
              'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio',
              'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Child dependency ratio']
df = s0101[s0101_cols]
df.head()

,Geography,Estimate!!Total!!Total population,Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Child dependency ratio
0,110100,3153,161.7,29.0,6.4
1,110300,3114,99.9,13.0,43.4
2,110500,2430,100.3,25.4,89.8
3,110600,5645,275.1,15.0,11.6
4,110700,1079,129.1,49.2,35.8

In [23]:
df.columns = [col.lower() for col in df.columns]
df.columns = [col.replace('!!', '_') for col in df.columns]
df.columns = [col.replace('estimate_total_', '') for col in df.columns]
df.columns = [col.replace('summary indicators_', '') for col in df.columns]
df.columns = [col.replace('total population_', '') for col in df.columns]

In [24]:
df.head()

,geography,total population,sex ratio (males per 100 females),old-age dependency ratio,child dependency ratio
0,110100,3153,161.7,29.0,6.4
1,110300,3114,99.9,13.0,43.4
2,110500,2430,100.3,25.4,89.8
3,110600,5645,275.1,15.0,11.6
4,110700,1079,129.1,49.2,35.8

In [25]:
df.shape

(375, 5)

In [26]:
ok

NameError: name 'ok' is not defined