# Prepare Phase: New Business Location Predictor

In [1]:
import numpy as np
import pandas as pd

import acquire as a

In [2]:
sex = a.get_sex_age_data()
sex.head()

,geography,total population,sex ratio (males per 100 females),old-age dependency ratio,child dependency ratio
0,110100,3153,161.7,29.0,6.4
1,110300,3114,99.9,13.0,43.4
2,110500,2430,100.3,25.4,89.8
3,110600,5645,275.1,15.0,11.6
4,110700,1079,129.1,49.2,35.8

In [3]:
race = a.get_race_data()
race.head()

  geography  total_hispanic_or_latino
0    110100                      1758
1    110300                      1589
2    110500                      1982
3    110600                      4763
4    110700                       933

In [4]:
income = a.get_income_data()
income.head()

  geography households_median_income_(dollars)
0    110100                              52659
1    110300                              43875
2    110500                              10518
3    110600                              16712
4    110700                              18700

In [5]:
# now merge this all into one df:
df = pd.merge(pd.merge(sex, race, on='geography'), income, on='geography')
df.head()

,geography,total population,sex ratio (males per 100 females),old-age dependency ratio,child dependency ratio,total_hispanic_or_latino,households_median_income_(dollars)
0,110100,3153,161.7,29.0,6.4,1758,52659
1,110300,3114,99.9,13.0,43.4,1589,43875
2,110500,2430,100.3,25.4,89.8,1982,10518
3,110600,5645,275.1,15.0,11.6,4763,16712
4,110700,1079,129.1,49.2,35.8,933,18700

In [7]:
# testing the get_census_data function:
census = a.get_census_data()
census.head()

,geography,total population,sex ratio (males per 100 females),old-age dependency ratio,child dependency ratio,total_hispanic_or_latino,households_median_income_(dollars)
0,110100,3153,161.7,29.0,6.4,1758,52659
1,110300,3114,99.9,13.0,43.4,1589,43875
2,110500,2430,100.3,25.4,89.8,1982,10518
3,110600,5645,275.1,15.0,11.6,4763,16712
4,110700,1079,129.1,49.2,35.8,933,18700